.jumbotron {
  color: #9b34c7;
  background-color: #f2e750;
}
.btn {
  background-color: #41094f;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f2e750;
  margin-top: 10px;
  margin-bottom: 0px;
}
.my-class {
  flex: 1 150px;
  padding: 2px 5px 2px 2px;
  margin-top: 10px;
  margin-bottom: 0px;
}
btn-click {
  width: 100%;
}
.lastname {
  margin-top: 50px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-hotel {
  background-color: #41094f;
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
