@yellow: #f2e750;

.margenes (@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  color: #9b34c7;
  background-color:@yellow;
}

.btn {
  background-color: #41094f;
}

footer {
  padding: 10px 10px 0 10px;
  background-color:@yellow;
  .margenes(10px, 0px);
}

.my-class {
  flex: 1 150px;
  padding: 2px 5px 2px 2px;
  .margenes(10px, 0px);
}

btn-click {
  width: 100%; }

.lastname {
  margin-top: 50px; }

.footer-address-icon {
  padding-right: 10px; }

.card-hotel {
  background-color: #41094f;
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  .margenes(10px, 0px);
}
