a {
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;

}

a.more {
  background-color: #366ac9;
  color: white;
}

a.more:hover{
  background-color: #1c40a3;

}

a.less{
  background-color: #1db531;
  color: white;
}

a.less:hover{
  background-color: #126e10;
}

a.nounder{
  text-decoration: underline;
}
 p {
   font-size: 18px;
 }

.tab-content {
padding-top: 10px;

}
